/* Estilos para botones */
.button {
  width: 189px;
  height: 46px;
  margin: 10px;
  border: 1px solid transparent; /* Sin bordes visibles */
  border-radius: 15px; /* Bordes redondeados */
  color: white;
  background-image: linear-gradient(90deg, #83711B, #FFBB80, #83711B); /* Gradiente dorado */
  transition: background-color 0.3s ease, border-color 0.25s ease;
  font-family: "Monserrat", sans-serif; /* Fuente */
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  line-height: auto;
}

.button:hover {
  background-image: #333; /* Fondo más claro al pasar el cursor */
  border-color: #646cff;
}

.button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; /* Enfoque accesible */
}
